{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h3>Welcome to the Admin Dashboard</h3>
                    <p>This is your admin dashboard. You can customize and add widgets, charts, and statistics as needed.</p>
                </div>
            </div>
        </div>

        {# You can add more rows and columns here for additional content or widgets. #}
    </div>
{% endblock %}