<li class="list-group-item d-flex justify-content-between lh-sm">
    <div>
        <h6 class="my-0">{{ product.name }}</h6>
        <small class="text-body-secondary">x{{ product.quantity }}</small>
    </div>
    <span class="text-body-secondary">{{ product.price * product.quantity}} Lei</span>
</li>